*{
    margin:15;
    padding:15;
}

body{
    background: linear-gradient(to right, rgb(158, 157, 243), rgb(72, 5, 93));
    font-family: sans-serif;
    margin-left: 15%;
    margin-top: 5%;
    justify-content:center;
    
}

#title{
    color: #fff;
    font-size: 40px;
    font-family:'Arial';
    margin-left: 25%;
}

.subtitle{
    font-family: 'Arial';
    color:#f3addb;
    margin-left:30%;
}

form{
    color: #2f0879;
    border-radius: 40px;
    font-family: 'Arial';  
}

.sombra{
    box-shadow: rgb(51, 7, 102) 0.5em 0.5em 3em
}

fieldset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#f5c9f6;
    border-radius: 30px;
    border-color:#ce88f9;
    margin:10x;
    margin-right: 5000px;
    margin-left: 190px;
    color:rgb(72, 5, 93);
}

.button{
    border-radius: 40px;
    background-color:rgb(72, 5, 93);
    color:aliceblue;
}

.submit__hover:hover{
    background-color:#d3a8f4;
    color:black;
}

input, textarea, select{
    border-radius:5px;
    font-family: sans-serif;
}