body{
    background-color: #d6a956;
    font-family: sans-serif;
    margin-left: 15%;
    margin-top: 5%;
    justify-content:center;
    
}
*{
    margin:15;
    padding:15;
}

#title{
    color: #19058b;
    font-size: 40px;
    font-family:'Arial';
    margin-left: 25%;
}

.subtitle{
    font-family: 'Arial';
    color:#a50770;
    margin-left:30%;
}
form{
    color: #2f0879;
    border-radius: 40px;
    font-family: 'Arial';
    
}
.sombra{
    box-shadow: rgb(70, 54, 2) 0.5em 0.5em 3em
}

fieldset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#f1a604;
    border-radius: 30px;
    border-color:#926c02;
    margin:10x;
    margin-right: 5000px;
    margin-left: 190px;
    color:rgb(42, 28, 121)
}
.button{
    border-radius: 40px;
    background-color: rgb(8, 1, 70);
    color:aliceblue;
}
.submit__hover:hover{
    background-color:#f5c894
}
input, textarea, select{
    border-radius:5px;
    font-family: sans-serif;

}

